<div>
	<input type="text" name="name_teacher" placeholder="Nhap vao ho ten giang vien">
	<br>
	<input type="text" name="quequan_teacher" placeholder="Nhap vao que quan"><br>
	Ngay thang nam sinh<input type="date" name="ngaysinh_teacher" value="2011-01-13" placeholder="Nhap vao giay sinh"><br/>
	Sex:
	<input type="checkbox" name="gioitinh_nam_teacher" checked>Nam
	<input type="checkbox" name="gioitinh_nu_teacher">Nu<br>
	<input type="text" name="diachi_teacher" placeholder="diachi"/><br>
	Trinh do:
	<input type="checkbox" name="trinhdo_dh_teacher" />Dai hoc <input type="checkbox" name="trinhdo_ths_teacher" />Thac si <input type="checkbox" name="trinhdo_ts__teacher" />Tien si <br>
	Dang vien:
	<input type="checkbox" name="dangvien_yes_teacher"/>Co <input type="checkbox" name="dangvien_no_teacher"/>Khong 
	<br>
	<input type="button" value="Add Teacher">
</div>