<div id="top-nav" class="navbar navbar-inverse navbar-static-top"
	ng-if="authenticated">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home/userinfo">Acuity</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a class="dropdown-toggle" role="button"
					data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>
						Admin <span class="caret"></span></a>
					<ul id="g-account-menu" class="dropdown-menu" role="menu">
						<li><a href="#">My Profile</a></li>
					</ul></li>
				<li><a ng-click="logout()"><i
						class="glyphicon glyphicon-lock"></i> Logout</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<a><strong><i class="glyphicon glyphicon-align-right"></i>&nbsp Menu</strong></a>
			<hr>
			<ul class="nav nav-stacked">
				<li class="nav-header bgmenu">
					<a ui-sref="home.userinfo"> <i class="glyphicon glyphicon-home"></i>&nbsp User Information </a>
				</li>
				<li class="nav-header">
					<a data-toggle="collapse" data-target="#admin" class="bgmenu">
						<i class="glyphicon glyphicon-queen"></i>&nbsp Admin
					</a>
					<ul class="nav nav-stacked collapse" id="admin">
						<li class="active">
							<a  ui-sref="home.manageraccount">
								<i class="glyphicon glyphicon-user"></i>&nbsp Manager Account
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<hr>
			<a href="#"><strong><i class="glyphicon glyphicon-link"></i>
					Resources</strong></a>
			<hr>
		</div>
		<!-- /col-3 -->
		<div class="col-sm-9">
			<div ui-view>
			</div>
		</div>
	</div>
</div>
<!-- /Main -->

<footer class="text-center">
	Acuity Project <a
		href="https://github.com/tpndctu/project"><strong>Acuity</strong></a>
</footer>
