<a><strong><i class="glyphicon glyphicon-user"></i>&nbsp User Information</strong></a>
<hr>
<div align="right">
	<button type="button" class="btn btn-danger btn-sm" ng-click="showChangePassword()">
		<span class="glyphicon glyphicon-repeat"></span> &nbsp;<span>Change password</span>
	</button>
	<button type="button" class="btn btn-success btn-sm" ng-click="showUpdate()">
		<span class="glyphicon glyphicon-edit"></span> &nbsp;<span>Edit
			profile</span>
	</button>
</div>
<hr>
	<table class="table table-striped small">
		<tr>
			<td width="5%" align="left">User Name: </td>
			<td width="40%">{{userinfo.username}}</td>
		</tr>
		<tr>
			<td width="5%" align="left">Email: </td>
			<td width="40%">{{userinfo.email}}</td>
		</tr>
		<tr>
			<td width="5%" align="left">First Name: </td>
			<td width="40%">{{userinfo.firstName}}</td>
		</tr>
		<tr>
			<td width="5%" align="left">Last Name: </td>
			<td width="40%">{{userinfo.lastName}}</td>
		</tr>
		<tr>
			<td width="5%" align="left">Birth Date: </td>
			<td width="40%">{{userinfo.birthDate | date}}</td>
		</tr>
	</table>
<!-- modal save user info -->
<div layout-fill>
	<div class="modal fade" id="saveUserInfo" tabindex="-1"
		role="dialog" aria-labelledby="saveUserInfo" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="editForm" role="form" novalidate ng-submit="saveUserInfo()"
					show-validation>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myCveinfoLabel">Update User Information</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label> <input type="text" class="form-control"
								name="id" ng-model="userinfo.id" readonly>
						</div>
						<div class="form-group">
							<label>User name</label> <input type="text" class="form-control"
								name="id" ng-model="userinfo.username">
						</div>
						<div class="form-group">
							<label>Email</label> <input type="text" class="form-control"
								name="id" ng-model="userinfo.email">
						</div>
						<div class="form-group">
							<label>First Name</label> <input type="text" class="form-control"
								name="id" ng-model="userinfo.firstName">
						</div>
						<div class="form-group">
							<label>Last Name</label> <input type="text" class="form-control"
								name="id" ng-model="userinfo.lastName">
						</div>
						<div class="form-group">
							<label>Birth Date</label> <input type="date" class="form-control"
								name="id" ng-model="userinfo.birthDate">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end modal save user info -->
<!-- modal password change -->
<div layout-fill>
	<div class="modal fade" id="changePassword" tabindex="-1"
		role="dialog" aria-labelledby="changePassword" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="editForm" role="form" novalidate ng-submit="changePass()"
					show-validation>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="changePassword">Change password</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Password new</label> 
							<input type="password" class="form-control" name="passwordFirst" ng-model="passwordFirst" required ng-minlength="6" ng-maxlength="20">
						</div>
						<div class="form-group">
							<label>Confirm password</label>
							 <input type="password" class="form-control" name="passwordSecond" ng-model="passwordSecond" pw-check="passwordFirst" required ng-minlength="6" ng-maxlength="20">
						</div>
						<div class="msg-block" ng-show="editForm.$error">
						 <span class="msg-error" ng-show="editForm.passwordSecond.$error.pwmatch">
						 	Password don't match or too short password.
						 </span>
						 </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" class="btn btn-primary" ng-disabled="(editForm.$error && editForm.passwordSecond.$error.pwmatch) || editForm.$invalid">
							<span class="glyphicon glyphicon-repeat"></span>&nbsp;<span>Change Password</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end modal password change -->